.post {
    border: solid 2px lightgray;
    padding: 20px;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    
}

.post-title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    text-decoration: none;
    color:black;
    text-transform: uppercase;
    font-weight: 600;
}


.post-body {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    font-size: 1.2em;
    font-weight: 500;
}